:root{
    --primary: #d81e5b;
    --secondary: #8c38ff;
    --dark: #131a26;
    --light: #eee;
}

*{
   box-sizing: border-box;
}
body{
    background-color: var(--light);
}
.App{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
.calculator{
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;;
}
.display{
    padding: 16px;
    text-align: right;
    /* background-color: var(--dark); */
    color: var(--dark);
    font-size: 16px;
    font-weight: 300;
}
.display span{
    font-size: 12px;
    opacity: 0.5;
}
button{
    appearance: none;
    border: none;
    outline: none;
    color: var(--dark);
    font-size: 20px;
    padding: 16px;
    cursor: pointer;
    transition: 0.4s;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.5),
    -5px -5px 10px rgba(255, 255, 255, 0.6);
   
}
button:hover{
    background-color: #eee;
    opacity: 0.5;
}
.buttons{
    display: flex;
    
}
.buttons button{
    flex: 1 1 0%;
    /* background-color: var(--primary); */
    font-weight: 700;
}
.numbers{
    display: flex;
    flex-wrap: wrap;
}
.numbers button{
    flex: 1 1 33.33%;
    max-width: 33.33%;
    /* background-color: var(--dark); */
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: -90px;
    text-transform: uppercase;
    font-size: 50px;
    color: var(--light);;
    text-shadow: 5px 5px 10px rgba(163, 177, 198, 0.5),
    -5px -5px 10px rgba(255, 255, 255, 0.6);
}